@model ClienteMVC.Models.CabanaViewModel;


@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Cabana</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cabana.NombreCabana" class="control-label"></label>
                <input asp-for="Cabana.NombreCabana" class="form-control" />
                <span asp-validation-for="Cabana.NombreCabana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cabana.DescripCabana" class="control-label"></label>
                <input asp-for="Cabana.DescripCabana" class="form-control" />
                <span asp-validation-for="Cabana.DescripCabana" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cabana.Jacuzzi" /> @Html.DisplayNameFor(model => model.Cabana.Jacuzzi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cabana.Habilitado" /> @Html.DisplayNameFor(model => model.Cabana.Habilitado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Cabana.MaxPersonas" class="control-label"></label>
                <input asp-for="Cabana.MaxPersonas" class="form-control" />
                <span asp-validation-for="Cabana.MaxPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" /> @*Aca se genera el input File*@
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="idTipoSeleccionado" class="control-label">Seleccione un tipo</label>
                <select name="idTipoSeleccionado" id="tipos">
                    @foreach (var tipo in Model.Tipos)
                    {
                        <option value="@tipo.Id">@tipo.NombreTipo</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.ErrorInfo!=null)
        {
               <div class="alert alert-danger">@ViewBag.ErrorInfo</div>     
        }
        @if(ViewBag.ErrorUnique!=null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorUnique</div>
        }       
    </div>
</div>

<div class="btn btn-outline-secondary mt-3">
    <a asp-action="Index" class="text-white">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
