@model IEnumerable<Dominio.EntidadesDominio.Mantenimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Mantenimientos para la cabaña @ViewBag.Cabana.NombreCabana</h1>

<h4>Buscar entre fechas</h4>
<form asp-action="MantEntreFechas">
    <div class="form-group">
        <input type="date" name="fechaIni" placeholder="Desde" />
    </div>
    <div class="form-group">
        <input type="date" name="fechaFin" placeholder="Hasta" />
    </div>
    <div class="form-group">
        <input type="number" name="CabanaId" value="@ViewBag.Cabana.Id" placeholder="@ViewBag.Cabana.NombreCabana" readonly />
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form>


<p class="mt-2">
    @Html.ActionLink("Agregar nuevo", "Create", new {  idCabana=ViewBag.Cabana.Id })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescMant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoMant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescMant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoMant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
