@model IEnumerable<ClienteMVC.DTOs.CabanaDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Cabañas</h1>

<p>
    <a asp-action="Create">Agregar nueva</a>
</p>

<hr />

<div class="container d-flex mb-4">

    <div class="col-3 border border-1 border-dark rounded mt-4 p-2 m-1">
        <h5>Buscar cabaña por nombre</h5>
        <form asp-action="BuscarPorNombre">
            <div class="form-group">
                <input type="text" name="nombre" placeholder="Nombre" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-3 border border-1 border-dark rounded mt-4 p-2 m-1">
        <h5>Buscar cabañas habilitadas</h5>
        <button class="btn btn-primary">
            <a asp-action="BuscarHabilitadas" class="text-white text-decoration-none">Buscar</a>
        </button>
    </div>

    <div class="col-3 border border-1 border-dark rounded mt-4 p-2 m-1">
        <h5>Buscar cabaña por núm. máximo de huéspedes</h5>
        <form asp-action="BuscarPorMaxHuespedes">
            <div class="form-group">
                <input type="number" name="maxHuespedes" placeholder="Huéspedes" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-3 border border-1 border-dark rounded mt-4 p-2 m-1">
        <h5>Buscar cabaña por tipo</h5>
        <form asp-action="BuscarPorTipo">
            <div class="form-group">
                <label for="idTipo" class="control-label">Seleccione un tipo</label>
                <select name="idTipo" id="tipo">
                    @foreach (var tipo in ViewBag.Tipos)
                    {
                        <option value="@tipo.Id">@tipo.NombreTipo</option>
                    }
                </select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCabana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripCabana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jacuzzi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPersonas)
            </th>
            <th>
                Foto
            </th>
            <th>
                Tipo
            </th>
            <th>
                Mantenimientos
             </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCabana)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DescripCabana)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Jacuzzi)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Habilitado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPersonas)
            </td>
            <td>
                <img src="/Imagenes/@item.FotoCabana" height="100">
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.NombreTipo)
            </td>
            <td>
                @Html.ActionLink("Ver", "Index", "Mantenimiento", new { CabanaId=item.Id }) 
                   
            </td>
        </tr>
}
    </tbody>
</table>
