@model Dominio.EntidadesDominio.Cabana

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Cabana</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCabana" class="control-label"></label>
                <input asp-for="NombreCabana" class="form-control" />
                <span asp-validation-for="NombreCabana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripCabana" class="control-label"></label>
                <input asp-for="DescripCabana" class="form-control" />
                <span asp-validation-for="DescripCabana" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Jacuzzi" /> @Html.DisplayNameFor(model => model.Jacuzzi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Habilitado" /> @Html.DisplayNameFor(model => model.Habilitado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MaxPersonas" class="control-label"></label>
                <input asp-for="MaxPersonas" class="form-control" />
                <span asp-validation-for="MaxPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoCabana" class="control-label"></label>
                <input asp-for="FotoCabana" class="form-control" />
                <span asp-validation-for="FotoCabana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="idTipo" class="control-label">Seleccione un tipo</label>
                <select name="idTipo" id="tipo">
                    @foreach (var tipo in ViewBag.Tipos)
                    {
                        <option value="@tipo.Id">@tipo.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
        <div class="text-danger">@ViewBag.ErrorInfo</div>
        <div class="text-danger">@ViewBag.Prueba</div>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
