@model IEnumerable<Dominio.EntidadesDominio.Cabana>

@{
    ViewData["Title"] = "BuscarPorNombre";
}

<h1>Resultados de la búsqueda</h1>

@if (ViewBag.NotFound != null)
{
    <p class="alert alert-danger">
        @ViewBag.NotFound
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCabana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripCabana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jacuzzi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoCabana)
            </th>
            <th>
                Tipo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCabana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripCabana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jacuzzi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilitado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoCabana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Volver</a>
</div>
